@page
@model UserPage
@{
    ViewData["Title"] = "Home page";
    Layout = "_Layout";

}

<h1> Запусти программу</h1>
<p class="fs-5 col-md-8">       
    Используй интерйес (ручной автомат) для быстрой автоматизации. 
    Когда задача выполнена сохрани действия выполненые в программе для авто-повтора, после ты смсожешь просомтреть потоки ввода-вывода
    и выделить к ним парамтеры, полученные из источника данных моделию
</p>
<div class="mb-5">
    <a href="/docs/5.0/examples/" class="btn btn-primary btn-lg px-4">Download examples</a>
</div>